

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url(../style/navbar.css);
@import url(../style/sobre.css);
@import url(../style/metricas.css);
@import url(../style/empregos.css);
@import url(../style/depoimentos.css);
@import url(../style/rodape.css);
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "inter";
    
}
:root{
    --roxo: #8E2424;
    --roxo-claro:#8e242424;
}
